<p>textarea works!</p>

<form [formGroup]="controllerform">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Control ID" formControlName="controlID">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Json Path" formControlName="jsonPath">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="label" formControlName="label">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="desc" formControlName="desc">
  </mat-form-field>
  <div formGroupName="style">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="width" formControlName="width">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="height" formControlName="height">
    </mat-form-field>
  </div>
  <button (click)="submit()">Submit</button>
</form>
